body{width:100%px; height:100%px; box-sizing:border-box}
.font_Bo{size:15px; font-style:normal; font-family:tahoma; color:#581845;}
.font_ok{size:15px; font-style:normal; font-family:tahoma; color:#900C3F}
.font_Ci{size:15px; font-style:normal; font-family:tahoma; color:##C70039}
.font_ty{size:15px; font-style:normal; font-family:tahoma; color:##FF5733}
.center{text-align:center;}